@font-face {
  font-family: Quicksand Light;
  src: url("./util/font/Quicksand\ Light\ 300.ttf") 
}

@font-face {
  font-family: Open-Sans;
  src: url("./util/font/OpenSans-Regular.ttf") 
}

@font-face {
  font-family: Open-Sans Light;
  src: url("./util/font/OpenSans-Light.ttf") 
}

@font-face {
  font-family: Raleway Medium;
  src: url("./util/font/Raleway-Medium.ttf") 
}


.quicksand-light{
  font-family: Quicksand Light;
}

.open-sans{
  font-family: Open-Sans, "Helvetica Neue", Helvetica, Roboto, sans-serif;
}

.open-sans-light{
  font-family: Open-Sans Light;
}

.raleway-medium{
  font-family: Raleway Medium;
}

body {
  margin: 0px
}

*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: subpixel-antialiased;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 425px){
  .main-container{
    margin-top: 0px
  }
}