.navButton{
  background-color: #254b7e;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400 !important;
  height: 40px;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}

.navButton:focus{
  outline: none
}

.navButton:hover{
  box-shadow: 0 4px 14px -6px rgba(0,0,0,0.8);
}

.navButton:active, .navButton[disabled] {
  transition: all 0.05s;
  transform: scale(0.99);
  -ms-transform: scale(0.99);
  opacity: 0.9;
  box-shadow: 0 0 0 0 #000;
}

.navLeft{
  border-radius: 20px 0px 0px 20px;
}

.navRight{
  border-radius: 0px 20px 20px 0px;
}